# Ignore everything
*
# But descend into directories
!*/
# track this file
!/.gitignore

# allow root's home dir
!/root/**
# but not the Desktop in root's home dir
/root/Desktop/*
# or any dot files in root's home dir
/root/.*

# allow NGINX config directories
!/etc/nginx/**

# allow NGINX html files
!/var/www/html/**

# allow Django config files
!/srv/apps/**
# directory has its own .gitignore file for Django, VirtualEnv, Python files
