# system wide ignore config to select directories tracked by git
# add directories to allow git tracking
# docs: https://git-scm.com/docs/gitignore

# Ignore everything
*
# But descend into directories
!*/
# track this file
!/.gitignore
# and the repo readme.md
!/README.md


# allow root's home dir
!/root/**
# but not the Desktop or Downloads in root's home dir
/root/Desktop/*
/root/Downloads/*
# or any dot files in root's home dir
/root/.*


# allow NGINX config directories
!/etc/nginx/**
# allow NGINX html files
!/var/www/html/**


# allow Django config files
!/srv/apps/**
# except .env file, stores django secret key
/srv/apps/visn/.env
# apps directory has its own .gitignore file generated for Django, VirtualEnv, Python files:
# /srv/apps/.gitignore

# allow uwsgi config files
!/etc/uwsgi/**
# allow systemd config files
!/etc/systemd/system/visn-uwsgi.service


# allow mergenotes directory
!/mergenotes/**
