
.dashboard-content
{
    height:auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);

    /* background-color: rgb(16, 139, 98); */
}

.dashboard-content span
{
 color:red;
}
.dashboard-card
{
    border: 1px #000 solid;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-between;

    background-color: #fff;
}
