{% extends 'base.html' %}


{% block content %}
{% include 'header.html' %}
{% include 'sidebar.html' %}

<div id="header" class="row gx-0">
        <div class="title col-sm-4"></div>
        <div class="col-sm-4">
           <div class=" title row gx-0">
              <!--<h1 style="text-transform:capitalize;"><script>document.write({{request.path}}.source)</script></h1>-->
           </div>    
        </div>
        <div class=" title col-sm-4"></div>
     </div>

     <div id="icons" class="col-sm-2">
        <div id="logo" class="container img-fluid row align-item-center gx-0"><img src="logo.png" /></div>
            <div id="U-name" class="icons row gx-0" style="text-transform:capitalize;">Welcome {{ user.username }}!</div>
            <a href="{% url 'dashboard' %}"><div class="icons row gx-0">Home</div></a>
            <a href="{% url 'projects' %}"><div class="icons row gx-0">Projects</div></a>
            <a href="{% url 'files' %}"><div class="icons row gx-0">Files</div></a>
            <a href="{% url 'chat' %}"><div class="icons row gx-0">Chat</div></a>
            <div class="icons row gx-0">Network</div>
            <div class="icons row gx-0">Tools</div>
            <div id="search" class="icons row gx-0">Search <input></input></div>
     </div>

     <div class="col-md-10" style="text-align:center;padding-top:10px;">
         <div class="search-wrapper">
            <form class="search" action="#">
               <input class="search-inp"  type="text"><button class="search-btn">
                  <i class="fas fa-search"></i>
               </button>
            </form>
         </div>
         <article class="article">
            <ul class="first">
                <li class= "Recent-chat">
                   Recent chats 
                   <div>
                      <span class="rchat">
                         <a href="###">Message 1:</a>
                         </span>
                      <span class="rchat">
                         <a href="###">Message 2:</a>
                         </span>
                      <span class="rchat">
                         <a href="###">Message 3:</a>
                         </span>
                      <span class="rchat">
                         <a href="###">Message 4:</a>
                         </span>
                      <span class="rchat">
                         <a href="###">Message 5:</a>
                         </span>
                      <span class="rchat">
                         <a href="###">Message 6:</a>
                         </span>
                   </div>
                </li>
                <li class="srol">
                    <a href="###">Client 1 <span class="jia"> <a href="#GG">+</a></span></a>
                    <span class="rchat">
                     <a href="###">Message 1:</a>
                     </span>
                    <span class="rchat">
                     <a href="###">Message 2:</a>
                     </span>
                     <span class="rchat">
                        <a href="###">Message 3:</a>
                        </span>
                     <span class="rchat">
                        <a href="###">Message 4:</a>
                        </span>
                     <span class="rchat">
                        <a href="###">Message 5:</a>
                        </span>
                     <span class="rchat">
                        <a href="###">Message 6:</a>
                        </span>
            
                  </li>
                <li class="srol">
                    <a href="###">Client 2 <span class="jia"> <a href="#GG">+</a></span></a>
                    <span class="rchat">
                     <a href="###">Message 1:</a>
                     </span>
                    <span class="rchat">
                     <a href="###">Message 2:</a>
                     </span>
                     <span class="rchat">
                        <a href="###">Message 3:</a>
                        </span>
                     <span class="rchat">
                        <a href="###">Message 4:</a>
                        </span>
                     <span class="rchat">
                        <a href="###">Message 5:</a>
                        </span>
                     <span class="rchat">
                        <a href="###">Message 6:</a>
                        </span>
                     
                <li class="srol"> 
                    <a href="###">Client 3<span class="jia"> <a href="#GG">+</a></span></a>
                    <span class="rchat">
                     <a href="###">Message 1:</a>
                     </span>
                    <span class="rchat">
                     <a href="###">Message 2:</a>
                     </span>
                     <span class="rchat">
                        <a href="###">Message 3:</a>
                        </span>
                     <span class="rchat">
                        <a href="###">Message 4:</a>
                        </span>
                     <span class="rchat">
                        <a href="###">Message 5:</a>
                        </span>
                     <span class="rchat">
                        <a href="###">Message 6:</a>
                        </span>
                     
                </li>
                <li>
                   Comments or Email
                   <span class="comt">
                     <a id="GG" href="#">Comment:</a>
                     <div class="kuang">
                        <form class="xie" action="#">
                           <input class="zi"  type="text"><button class="anniu">
                              <i class="fa fa-paper-plane" aria-hidden="true"></i>
                           </button>
                        </form> 
                     </div>
                     </span>
                  <span class="rchat">
                     Email: <a href="https://mail.yahoo.com/">Gmail </a> Or<a href="https://mail.yahoo.com/"> Yahoo</a>
                     </span>

                </li>
            </ul>
        </article>
     </div>

   </div>

{% endblock content %}
