{% extends 'base.html' %}
{% load static %}

{% block styles %}
   <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock styles %}

{% block content %}
{% include 'header.html' %}
{% include 'sidebar.html' %}
     <div class="col-md-10" style="text-align:center;padding-top:10px;">
         <div class="search-wrapper">
            <form class="search" action="#">
               <input class="search-inp"  type="text"><button class="search-btn">
                  <i class="fas fa-search"></i>
               </button>
            </form>
         </div>
         <article class="article">
            <ul class="first">
                <li class= "Recent-chat">
                   Recent chats 
                   <div>
                      <span class="rchat">
                         <a href="###">Message 1:</a>
                         </span>
                      <span class="rchat">
                         <a href="###">Message 2:</a>
                         </span>
                      <span class="rchat">
                         <a href="###">Message 3:</a>
                         </span>
                      <span class="rchat">
                         <a href="###">Message 4:</a>
                         </span>
                      <span class="rchat">
                         <a href="###">Message 5:</a>
                         </span>
                      <span class="rchat">
                         <a href="###">Message 6:</a>
                         </span>
                   </div>
                </li>
                <li class="srol">
                    <a href="###">Client 1 <span class="jia"> <a href="#GG">+</a></span></a>
                    <span class="rchat">
                     <a href="###">Message 1:</a>
                     </span>
                    <span class="rchat">
                     <a href="###">Message 2:</a>
                     </span>
                     <span class="rchat">
                        <a href="###">Message 3:</a>
                        </span>
                     <span class="rchat">
                        <a href="###">Message 4:</a>
                        </span>
                     <span class="rchat">
                        <a href="###">Message 5:</a>
                        </span>
                     <span class="rchat">
                        <a href="###">Message 6:</a>
                        </span>
            
                  </li>
                <li class="srol">
                    <a href="###">Client 2 <span class="jia"> <a href="#GG">+</a></span></a>
                    <span class="rchat">
                     <a href="###">Message 1:</a>
                     </span>
                    <span class="rchat">
                     <a href="###">Message 2:</a>
                     </span>
                     <span class="rchat">
                        <a href="###">Message 3:</a>
                        </span>
                     <span class="rchat">
                        <a href="###">Message 4:</a>
                        </span>
                     <span class="rchat">
                        <a href="###">Message 5:</a>
                        </span>
                     <span class="rchat">
                        <a href="###">Message 6:</a>
                        </span>
                     
                <li class="srol"> 
                    <a href="###">Client 3<span class="jia"> <a href="#GG">+</a></span></a>
                    <span class="rchat">
                     <a href="###">Message 1:</a>
                     </span>
                    <span class="rchat">
                     <a href="###">Message 2:</a>
                     </span>
                     <span class="rchat">
                        <a href="###">Message 3:</a>
                        </span>
                     <span class="rchat">
                        <a href="###">Message 4:</a>
                        </span>
                     <span class="rchat">
                        <a href="###">Message 5:</a>
                        </span>
                     <span class="rchat">
                        <a href="###">Message 6:</a>
                        </span>
                     
                </li>
                <li>
                   Comments or Email
                   <span class="comt">
                     <a id="GG" href="#">Comment:</a>
                     <div class="kuang">
                        <form class="xie" action="#">
                           <input class="zi"  type="text"><button class="anniu">
                              <i class="fa fa-paper-plane" aria-hidden="true"></i>
                           </button>
                        </form> 
                     </div>
                     </span>
                  <span class="rchat">
                     Email: <a href="https://mail.yahoo.com/">Gmail </a> Or<a href="https://mail.yahoo.com/"> Yahoo</a>
                     </span>

                </li>
            </ul>
        </article>
     </div>

   </div>

{% endblock content %}
