{% extends 'base.html' %}
{% load static %}

{% block styles %}
   <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock styles %}

{% block content %}
{% include 'header.html' %}
{% include 'sidebar.html' %}

         <div id="recent-views" class="col-md-10"> 
            <!-- ********************************** -->
	    <div class="dashboard-content pt-5 px-5">
        <div class="dashboard-card">
            <h3 class="dashboard-card-title">
                Project 1
            </h3>
            <hr class="rounded">
            <h5>Deadline</h5>
            <span>1/1/2021</span>
            <hr class="rounded">
            <p>
                Project Discription
            </p>
            <hr class="rounded">
            <h5>Files</h5>
            <ul>
                <li>file 1</li>
                <li>file 2</li>
                <li>file 3</li>
            </ul>
        </div>
        <div class="dashboard-card">
            <h3 class="dashboard-card-title">
                Project 2
            </h3>
            <hr class="rounded">
            <h5>Deadline</h5>
            <span>1/1/2021</span>
            <hr class="rounded">
            <p>
                Project Discription
            </p>
            <hr class="rounded">
            <h5>Files</h5>
            <ul>
                <li>file 1</li>
                <li>file 2</li>
                <li>file 3</li>
            </ul>
        </div>
        <div class="dashboard-card">
            <h3 class="dashboard-card-title">
                Project 3
            </h3>
            <hr class="rounded">
            <h5>Deadline</h5>
            <span>1/1/2021</span>
            <hr class="rounded">
            <p>
                Project Discription
            </p>
            <hr class="rounded">
            <h5>Files</h5>
            <ul>
                <li>file 1</li>
                <li>file 2</li>
                <li>file 3</li>
            </ul>
        </div>
    <!-- </div>
    <div class="dashboard-content pt-4 px-5"> -->
        <div class="dashboard-message-container">
            <div class="dashboard-head">
                <h3>Latest Messages</h2>
            </div>
            <div class="dashboard-message-board">
                <div class="dashboard-message">
                    <p>Message to the user</h2>
                </div>
                <div class="dashboard-message">
                    <p>Another message, yay!</h2>
                </div>
                <div class="dashboard-message">
                    <p>Latest Message</h2>
                </div>
            </div>
        </div>
        
        <div class="dashboard-message-container">
            <div class="dashboard-head">
                <h3>Latest Messages</h2>
            </div>
            <div class="dashboard-message-board">
                <div class="dashboard-message">
                    <p>Please notice..</h2>
                </div>
                <div class="dashboard-message">
                    <p>All of these messages</h2>
                </div>
                <div class="dashboard-message">
                    <p>Are different :)</h2>
                </div>
            </div>
        </div>
        <div class="dashboard-message-container">
            <div class="dashboard-head">
                <h3>Latest Messages</h2>
            </div>
            <div class="dashboard-message-board">
                <div class="dashboard-message">
                    <p>Here is the Dash</h2>
                </div>
                <div class="dashboard-message">
                    <p>Coming to you </h2>
                </div>
                <div class="dashboard-message">
                    <p>After these messages</h2>
                </div>
            </div>
        </div>

    </div>
	    <!-- ********************************** -->
         </div>
{% endblock content %}
