<!-- Files list/download page, link to upload form -->

{% extends 'base.html' %}

{% block content %}

{% include 'header.html' %}
{% include 'sidebar.html' %}

  <div class="col-md-10 p-5">

    <h2>**List of Files Webpage**</h2>

    <p>
      <!-- Bootstrap5 buttons: https://www.w3schools.com/bootstrap5/bootstrap_buttons.php -->
      <a href="{% url 'upload' %}" class="btn btn-success btn-lg">Upload file</a>
    </p>

    <!-- Boostrap5 tables: https://www.w3schools.com/bootstrap5/bootstrap_tables.php -->
    <table class="table table-hover">

      <thead>
        <tr>
          <th style="width: 30%">Description</th>
          <th style="width: 40%">Comments</th>
          <th style="width: 5%">Download</th>
        </tr>
      </thead>

      <tbody>
        {% for file in files %}
          <tr>
            <td>{{ file.description }}</td>
            <td>{{ file.comments }}</td>
            <td>
              <a href="{{ file.filename.url }}" class="btn btn-success btn-sm" target="_blank">
                {{ file.filename }}
              </a>
            </td>
          <tr>
        {% endfor %}
      </tbody>

    </table>

  </div> 

{% endblock content %}
