{% extends 'base.html' %}


{% block content %}
{% include 'header.html' %}
{% include 'sidebar.html' %}

<div class="col-md-10" style="text-align:center;padding-top:100px;">

   <div class="container"> 
	<div class="row">
		<div class="col-sm-4">
			<p>
			<!-- Bootstrap5 buttons: https://www.w3schools.com/bootstrap5/bootstrap_buttons.php -->
			<a href="#" class="btn btn-success btn-lg">Project 1</a>
			</p>
			<p>This is where a project that the freelancer will be working on will be</p>
		</div>
   	 	<div class="col-sm-4">
      			<p>
     			 <!-- Bootstrap5 buttons: https://www.w3schools.com/bootstrap5/bootstrap_buttons.php -->
     			 <a href="#" class="btn btn-success btn-lg">Project 2</a>
   			 </p>
     			<p>This is where a project that the freelancer will be working on will be</p>
    		</div>
    		<div class="col-sm-4">
      			<p>
     			 <!-- Bootstrap5 buttons: https://www.w3schools.com/bootstrap5/bootstrap_buttons.php -->
     			 <a href="#" class="btn btn-success btn-lg">Project 3</a>
   			 </p>        
      			<p>This is where a project that the freelancer will be working on will be</p>
    		</div>
     	</div>
   </div>
</div>
{% endblock content %}
