{% extends 'base.html' %}


{% block content %}
{% include 'header.html' %}
{% include 'sidebar.html' %}

<div class="col-md-10" style="text-align:center;padding-top:100px;">

   <div class="container"> 
	<div class="row">
		<div class="col-sm-4">
			<h3>Project 1</h3>
			<p>This is where a project that the freelancer will be working on will be</p>
		</div>
   	 	<div class="col-sm-4">
      			<h3>Project 2</h3>
     			<p>This is where a project that the freelancer will be working on will be</p>
    		</div>
    		<div class="col-sm-4">
      			<h3>Project 3</h3>        
      			<p>This is where a project that the freelancer will be working on will be</p>
    		</div>
     	</div>
   </div>
</div>
{% endblock content %}
