{% load static %}
<div id="icons" class="col-sm-2">
        <div id="logo" class="container img-fluid row align-item-center gx-0"><img src="{% static 'pages/Logo_Rev2.png' %}" /></div>
            <div id="U-name" class="icons row gx-0" style="text-transform:capitalize;">Welcome {{ user.username }}!</div>
            <a href="{% url 'dashboard' %}"><div class="icons row gx-0">Home</div></a>
            <a href="{% url 'projects' %}"><div class="icons row gx-0">Projects</div></a>
            <a href="{% url 'files' %}"><div class="icons row gx-0">Files</div></a>
            <a href="{% url 'chat' %}"><div class="icons row gx-0">Chat</div></a>
            <a href="{% url 'network' %}"><div class="icons row gx-0">Network</div></a>
            <a href="{% url 'tools' %}"><div class="icons row gx-0">Tools</div></a>
            <div id="search" class="icons row gx-0">Search <input></input></div>
</div>
