.search-wrapper{
    background-color:slategray;
}

.search-wrapper .search-btn:hover{
    background-color: #f10215;
}


article{
    width: 1200px;
    height: 850px;
    padding: 1px 0;
    margin: 0 auto;
    background-color:rgb(204,204,204);
}

article ul{
    width:1000px;
    height: 680px;
   
}

.first li{
    width: 800px;
    height: 100px;
    background-color: #bfa;
    font-size: 30px;
    margin:15px 30px;
    text-align: center;
    overflow:scroll;
   
    
}

.rchat{
    
    display:block;
    height:35px;
    background-color: white;
    margin: 10px;
    font-size: 20px;
    text-align: left;
}

li a{
    text-decoration: none;
}

.first li:nth-child(1){
    background-color:#bfa;
    width: 1000px;
    height: 200px;
}


.first li:nth-child(2){
    background-color:pink;
    height: 100px;
    width: 1000px;
}


.first li:nth-child(3){
    background-color:#bfa;
    width:1000px;
    height: 100px;
}

.first li:nth-child(4){
    width: 1000px;;
    background-color:pink;
    height: 100px;
}

li a:hover{
    background-color: red;
}

.first li:nth-child(5){
    background-color:#bfa;
    width:1000px;
    height: 250px;
}

.comt{
    display:block;
    background-color: white;
    width: 1000px;
    height: 140px;
    margin: 10px;
    font-size: 20px;
    text-align: left;
}

.zi{
    height: 100px;
    width: 500px;
    overflow:scroll;
    text-align: left;
}

.anniu:hover{
    background-color: red;
}

.anniu{
    background-color:darkgray;
}

